
<div class = "two-list-box">
    <h1 class= applicantViewJobPostingh2>Welcome Applicant</h1>
    {{!-- <div class = "two-list-innerbox"> --}}
        <div class = "job-list-box">
            <h3> Open job listings</h3>
            <ul class ="job-list">
                {{#each result}}
                <li class = "eachJob" onclick="">
                    <form action="/viewJobDescription?jobId={{_id}}" method="POST" id={{_id}} class={{_id}}"form">
                    <label for={{_id}}"form" >{{jobTitle}}</label>  
                    <button type="submit" form={{_id}} value="Submit"> View</button>    
                    </form>
                </li>
                {{/each}}
            </ul>
        </div>
     
        <div class = "application-list-box">
            <h3>The Job you have applied</h3>
            <ul class ="application-list">
                {{#each applicationResult}}
                <li class = "each-application-list" onclick="">
                    <form action="/viewApplicationForApplicant?applicationID={{_id}}" method="POST" id={{_id}} class={{_id}}"form">
                    <label for={{_id}}"form" >{{jobName}}</label>  
                    <button type="submit" form={{_id}} value="Submit"> View</button>    
                    </form>
                </li>
                {{/each}}
            </ul>
        </div>
    {{!-- </div> --}}
</div>