<p>Welcome Applicant</p>
<p> Open job listings</p>
<ul class ="job-list">
    {{#each result}}
    <li class = "eachJob" onclick="">
        <form action="/viewJobDescription?jobId={{_id}}" method="POST" id={{_id}} class={{_id}}"form">
        <label for={{_id}}"form" >{{jobTitle}}</label>  
        <button type="submit" form={{_id}} value="Submit"> View</button>    
         </form>
    </li>
    {{/each}}
<p>------------------------------------------------</p>
<ul class ="application-list">
    {{#each applicationResult}}
    <li class = "each-application-list" onclick="">
        <form action="/viewJobDescription?application={{_id}}" method="POST" id={{_id}} class={{_id}}"form">
        <label for={{_id}}"form" >{{jobName}}</label>  
        <button type="submit" form={{_id}} value="Submit"> View</button>    
         </form>
    </li>
    {{/each}}
</ul>
