
<p>Job Description</p>
<p>Job Title: {{result.jobTitle}}</p>
<p>Job Type: {{result.jobType}}</p>
<p>Job Location: {{result.jobLocation}}</p>
<p>Experience level: {{result.experiencelevel}}</p>  
<p>Job Responsibilities: {{result.jobResponsibilities}}</p>
<form action="/applicant/submitApplication?jobId={{result._id}}" method="POST" id={{result._id}} class={{result._id}}"form"> 
        <button type="submit" form={{result._id}} value="Submit"> Apply</button>    
</form>
