
<div class = "two-list-box">
    <h1 class= applicantViewJobPostingh2>Welcome Applicant</h1>
    {{!-- <div class = "two-list-innerbox"> --}}
        <div class = "job-list-box">
            <h2> Open job listings</h2>
            <ul class ="job-list">
                {{#each result}}
                <li class = "eachJob" onclick="">
                    <form action="/viewJobDescription?jobId={{_id}}" method="POST" id={{_id}} class={{_id}}>
                    <label for="{{_id}}btn" >{{jobTitle}}</label>  
                    <button type="submit" form={{_id}} value="Submit" id="{{_id}}btn"> View</button>    
                    </form>
                </li>
                {{/each}}
            </ul>
        </div>
     
        <div class = "application-list-box">
            <h2>The Job you have applied</h2>
            <ul class ="application-list">
                {{#each applicationResult}}
                <li class = "each-application-list" onclick="">
                    <form action="/viewApplicationForApplicant?applicationID={{_id}}" method="POST" id={{_id}} class={{_id}}>
                    <label for="{{_id}}btn" >{{jobName}}</label>  
                    <button type="submit" form={{_id}} value="Submit" id="{{_id}}btn"> View</button>    
                    </form>
                </li>
                {{/each}}
            </ul>
        </div>
    {{!-- </div> --}}
</div>