<p>Welcome Recruiter</p>
<p>View all Applications</p>
<ul class ="applications-list">
    {{#each candidate}}
    <li class = "eachJob" onclick="">
        <form action="/getApplicantDocuments={{_id}}" method="POST" id={{_id}} class={{_id}}"form">
        <label for={{_id}}"form" >{{jobTitle}}</label>  
        <button type="submit" form={{_id}} value="Submit"> View</button>    
         </form>
    </li>
    {{/each}}
</ul>