<div class='viewindividualApplicantBox'>
    <h1>Details of Individual</h1>
    <table class='table table-striped'>
        <tr>
            <th><label>First Name:</label></th>
            <td></td>
            <td><label>{{e.applicantInfo.firstName}}</label></td>
        </tr>
        <tr>
            <th><label>Last Name:</label></th>
            <td></td>
            <td><label>{{e.applicantInfo.lastName}}</label></td>
        </tr>
        <tr>
            <th><label>Email:</label></th>
            <td></td>
            <td><label>{{e.applicantInfo.email}}</label></td>
        </tr>
        <tr>
            <th><label>Phone Number:</label></th>
            <td></td>
            <td><label>{{e.applicantInfo.phoneNumber}}</label></td>
        </tr>
        <tr>
            <th><label>Application Status:</label></th>
            <td></td>
            <td><label>{{e.applicantInfo.applicationStatus}}</label></td>
        </tr>
    </table>
    <hr>
    <form method="POST">
        <input class="btn btn-primary btn-lg" type="submit" value="Download Documents">
    </form>
    <br>
    <a href ="/employer/applicationStatus/{{e.jobId}}/{{e.userId}}">Change Status</a>
    <br>
    <a href ='/employer/viewApplications'>View More Applications</a>
</div>